@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=JetBrains+Mono:wght@400;700&display=swap');

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    --color-glass: rgba(9, 9, 11, 0.9);
    --color-glass-border: rgba(255, 255, 255, 0.1);

    --color-surface-sun: #09090b;
    --color-surface-dark: #000000;

    --color-accent: #00F0FF;
    --color-accent-hover: #00B8CC;

    --color-text-light: #FAFAFA;
    --color-text-dark: #E5E5E5;

    --width-container: 768px;
    --animate-fade-in: fadeIn 0.5s ease-in-out;
}

@utility bio-year {
    font-family: var(--font-mono);
    font-weight: bold;
    margin-right: 1rem;
    color: var(--color-accent);
}

@utility cut-corner {
    clip-path: polygon(0 0,
            100% 0,
            100% calc(100% - 20px),
            calc(100% - 20px) 100%,
            0 100%);
}

@layer components {
    .section-title {
        @apply text-xl sm:text-2xl font-black uppercase tracking-widest mb-8 flex items-center gap-4;
        font-family: var(--font-mono);
    }

    .section-title::before {
        content: "";
        @apply w-2 h-6 bg-accent block shadow-[0_0_10px_var(--color-accent)];
        margin-right: 0.5rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    background-color: var(--color-surface-sun);
    color: var(--color-text-light);
    transition: background-color 0.2s ease;
    min-height: 100vh;
}

html.dark {
    background-color: var(--color-surface-dark);
    color: var(--color-text-dark);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    background-image:
        linear-gradient(to right, #3f3f46 1px, transparent 1px),
        linear-gradient(to bottom, #3f3f46 1px, transparent 1px);
    background-size: 40px 40px;

    mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle at center, black 40%, transparent 100%);

    opacity: 0.2;
}

body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    position: relative;
}
