---
import ProjectCard from "./ProjectCard.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
const featuredProjects = allProjects.filter(
  (project) => project.data.isFeatured,
);
---

<section class="mb-12">
  <h3
    class="text-lg sm:text-xl font-bold underline decoration-4 decoration-gray-500 underline-offset-4 mb-8"
  >
    Featured Projects
  </h3>

  <div class="flex flex-col gap-6 lg:grid sm:grid-cols-2 lg:gap-10">
    {
      featuredProjects.map((project, index) => (
        <ProjectCard
          title={project.data.title}
          desc={project.data.description}
          image={project.data.image}
          link={`/projects/${project.slug}`}
          class={
            featuredProjects.length === 3 && index === 0 ? "lg:col-span-2" : ""
          }
        />
      ))
    }
  </div>

  <div class="mt-10 text-center">
    <a
      href="/projects"
      class="inline-flex items-center gap-2 px-4 py-2 rounded-lg transition-all duration-300
             bg-accent/10 text-accent font-bold text-sm border border-transparent
             hover:bg-accent hover:text-white hover:shadow-lg"
    >
      View All Projects
      <span>&rarr;</span>
    </a>
  </div>
</section>
