---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body class="min-h-screen flex flex-col relative overflow-x-hidden">
    <Navbar />

    <main
      class="flex-1 w-full max-w-2xl mx-auto pt-24 pb-12 px-4 sm:px-8 border-x border-white/5 bg-black/20 relative animate-fade-in"
    >
      <div
        class="absolute top-24 left-0 w-1.5 h-12 bg-accent shadow-[0_0_15px_var(--color-accent)]"
      >
      </div>
      <div
        class="absolute top-24 right-0 w-1.5 h-12 bg-accent shadow-[0_0_15px_var(--color-accent)]"
      >
      </div>

      <slot />
    </main>

    <footer
      class="text-center text-xs font-mono text-gray-400 py-8 border-t border-white/5 mt-auto"
    >
      <div
        class="max-w-3xl mx-auto px-4 flex justify-between items-center opacity-50"
      >
        <span>&copy; {new Date().getFullYear()} Supawit Promma.</span>
        <span>// END_OF_LINE</span>
      </div>
    </footer>

    <script>
      if (!localStorage.getItem("theme")) {
        localStorage.setItem("theme", "dark");
      }

      if (
        localStorage.getItem("theme") === "dark" ||
        (!localStorage.getItem("theme") &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </body>
</html>
